
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

:root {
    --primary-color: #7b7d85;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Video Container */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.navbar {
    opacity: 0.4;
    line-height: 1;
    -webkit-animation: moveNav 2s; /* Safari 4.0 - 8.0 */
    animation: moveNav 2s; /* This makes the moveNav animation last 5 seconds */
}

@keyframes moveNav {
    from {left: -100vw;} /* The navbar is starting off screen to the left */
    to { left: 0vw;} /* This moves the navbar into place on the screen */
}

.navbar-collapse {
    display:inline-flex;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: grey;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: grey;
}

.navbar .navbar-toggler {
    color: lightgray;
    background-color: grey;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    color: white!important;
    background-color: grey;
    }
    
.btn {
    display: inline-block;
    padding: 10px 30px;
    border: solid #fff;
    border-radius: 5px;
    border: solid 1px #fff;
    margin-top: 25px;
}


a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
}

h2, h3, h4, h5 {
    font-family: 'Cinzel Decorative', cursive;
}

.showcase {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color)
    url("/img/Pexels\ Videos\ 1851190.mp4") no-repeat center center/cover;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: wrap;
}

.video-container:after {
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    position: absolute;
}

.content {
    z-index: 2;
}

.content h1, h2 {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f3f7f6, 0 0 70px #f3f7f6, 0 0 80px #f3f7f6, 0 0 100px #f3f7f6, 0 0 150px #f3f7f6;
}

.content h5 {
    padding-top: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: eff0f3;
    background: #eff0f3;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 25px;
    opacity: 0.8;
}

.btn:hover {
    transform: scale(0.98);
}

/* About Section */
#about {
    background-color: lightgrey;
    padding: 40px;
    padding-top: 40px;
    text-align: center;
}

#about img:hover {
    filter: grayscale(3%);
    transition: transform 1s;
    transform: scale(1.35);
}

#about p {
    color: #6c757d;
    font-size: 1.2rem;
    max-width: 850px;
    margin: auto;
    margin-top: 15px;
}

#about h1 {
    margin: 30px 0;
}

#about a {
    text-decoration: underline;
}



#languages * {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}    

#languages .column {
    float: left;
    width: 25%;
    padding: 5px;
}

#languages .row {
    display: flex;
}



#languages {
    -webkit-animation: moveRow 2s;
    animation: moveRow 2s;
}

@keyframes moveRow {
    from {right: -100vw;} 
    to { right: 0vw;} 
}

.portfolio-caption-heading {
    font-family: 'Cinzel Decorative', cursive;
    color: lightgrey;
    font-size: 18px;
    font-weight: 600;
  }

.portfolio-caption-subheading {
    font-family: 'Cinzel Decorative', cursive;
}

#portfolio {
    padding-top: 80px;
  }

#portfolio h3{
    margin-top: 10px;
    margin-bottom: 40px;
}

  #portfolio button {
      margin-bottom: 30px;
  }

  #portfolio section-heading {
      color:lightgrey;
  }

  #portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
    opacity: 1;
  }

  .portfolio-modal .container {
      background-color: lightgray;
  }

  .portfolio-modal .modal-dialog {
    margin: auto;
    margin-top: 60px;
    max-width: 75vw;
  }

  .portfolio-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-color: transparent;
  }
  .portfolio-modal .close-modal:hover {
    opacity: 0.3;
  }

  .portfolio-modal .modal-content p {
    margin-bottom: 2rem;
    text-align: center;
  }
  .portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 2rem;
    text-align: center;
  }
  .portfolio-modal .modal-content img {
    margin-bottom: 2rem;
  }

  .portfolio-modal .modal-content img:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: transform 1s;
      transform: scale(1.1);
  }

  .text-uppercase {
      text-align: center;
  }

  .portfolio-modal .modal-content .btn {
      float: center;
      align-items: center;
  }

.map-container {
    position: relative;
    padding-bottom: 26.25%;
    padding-top: 10px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
}

.map-container iframe,
.map-container object,
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Socials Section */
#contact {
    padding: 40px;
    padding-top: 80px;
    text-align: center;
}

#contact p {
    margin-top: 20px;
}

.socials {
    margin-bottom: 30px;
}

.socials a {
    color:#6c757d;
    margin: 0 5px;
    padding-top: 80px;
}


.img-fluid {
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
}

.portfolio-caption {
    padding-top: 10px;
    text-align: center;
}



.card .row {
    background-color: rgb(141, 124, 124);
    border-radius: 10px 10px 10px 10px;
}

.md-form input {
    padding-top: 10px;
}

.md-form label {
    padding-top: 5px;
    padding-bottom: 5px;
}

.md-form button {
    margin-top: 10px;
}

#contact-form {
    margin-bottom: 20px;
}


